<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>MarkaziText-VariableFont_wght.ttf</string>
		<string>MarkaziText-Regular.ttf</string>
		<string>MarkaziText-Bold.ttf</string>
		<string>MarkaziText-SemiBold.ttf</string>
		<string>MarkaziText-Medium.ttf</string>
		<string>Karla-Bold</string>
		<string>Karla-ExtaBold</string>
		<string>Karla-Light</string>
		<string>Karla-Medium</string>
		<string>Karla-Regular</string>
		<string>Karla-SemiBold</string>
	</array>
</dict>
</plist>
